/* A wrapper for a set of slides */
div.slideshow {
    position: relative;

    /* Each slide is denoted with a section element, and is given a maximum size
       (the same as the slideshow container)*/
    &, & > section {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
    }
    /* Each section is hidden by default */
    & > section {
        display: none;
    }

    /* Each slide as a selector that displays the next section element */
    & > [name="selector"] {
        width: 50%;
        min-width: 50%;
        height: 100%;
        min-height: 100%;

        opacity: 100%;
        margin: 0;

        position: absolute;
        top: 0;

        display: none;

        /* Display the next section based on which section is selected */
        &:checked + section {
            display: block;
        }

        /* Display the previous selector based on selected selector */
        &:has(+ section + [name="selector"]:checked) {
            display: block;
            left: 0;
        }

        /* Display the next selector based on selected selector */
        &:checked + section + [name="selector"] {
            display: block;
            left: 50%;
        }
    }
}

.vert {
    display: flex;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
}
